@font-face {
   font-family: 'Gilroy-Bold';
   src: url('../assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
   font-family: 'Gilroy-Medium';
   src: url('../assets/fonts/Gilroy-Medium.ttf');
}

html {
   scroll-behavior: smooth; 
}

body {
   font-family: 'Gilroy-Bold';
   margin: 0;
   padding: 0;
   /* background-color: #FFFFFF; */
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 0;
}


.header {
   background-color: #FFFFFF;
   padding: 0px 250px 0px 248px;
   height: 88px;
}

.header__wrapper {
   border-bottom: 1px solid #828282;
   transform: matrix(1, 0, 0, 1, 0, 0);
}


.header__nav {
   display: flex;
   align-items: center;
   justify-content: space-between;

   height: 88px;
}

.nav__link {
   font-size: 18px;
   line-height: 22px;

   color: #828282;

   text-decoration: none;
}

.nav__link:hover {
   color: #070707;

}

.home__description {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;

}

.h-description__title {
   font-size: 47.3392px;
   line-height: 59px;

   color: #070707;

   margin-bottom: 0px;
}

.h-description__text {
   font-family: 'Gilroy-Medium';
   font-size: 18px;
   line-height: 22px;

   color: #070707;

   margin-bottom: 0px;
}

.h-description__lang {
   display: flex;
   align-items: flex-end;

   transform: rotate(-90deg);

   margin-bottom: 20px;
}

.lang__link {
   font-size: 16px;
   line-height: 22px;

   color: #828282;

   text-decoration: none;
   text-transform: uppercase;
}

.lang__link:hover {
   color: #000000;
}

.lang__solid {
   margin: 0px;
   padding: 0px 3px;
}


.home__bg {
   height: 387px;
   background-image: url("../assets/images/DSC_1385.JPG");
   background-size: cover;
   background-position: center;

   margin: 50px 0px 107px 0px;
}

.aboutme {
   background-color: #F6F6F6;
   background-size: 100%;
}

.aboutme__wrapper {
   padding: 120px 0px 107px 0px;
   margin-bottom: 91px;

   display: flex;
   flex-direction: column;
   
}

.aboutme__title {
   font-size: 34px;
   line-height: 42px;
   text-align: center;

   color: #070707;
}

.aboutme__text {
   font-family: 'Gilroy-Medium';
   font-size: 18px;
   line-height: 22px;
   text-align: center;

   color: #070707;
}



